footer.text-center.text-md-start
    .container
        .row.gap-4.gap-md-0
            .col-md-4
                h4.mb-3.text-white Support

                ul.m-0.p-0.footer-link
                    li.py-2: a(href="#") Spåra paket
                    li.py-2: a(href="#") Vanliga frågor
                    li.py-2: a(href="#") Kontakta oss

            .col-md-4
                h4.mb-3.text-white Om HemPost

                ul.m-0.p-0.footer-link
                    li.py-2: a(href="#") Om oss
                    li.py-2: a(href="#") Hållbarhetsarbete
                    li.py-2: a(href="#") Jobba hos oss

            .col-md-4
                h4.mb-3.text-white Besöksadress:

                ul.m-0.p-0.footer-link
                    li.py-2 <b>HemPost</b> <br> Nohabgatan 14, plan 2 <br> 461 53 Trollhättan

        .mt-32.mb-32.d-flex.align-items-center.gap-3.flex-column.flex-md-row
            .eco-img: img(src="images/eco.svg", alt="eco")
            div.text-center.text-md-start
                h4.text-white.mb-1 Vi jobbar med grön serverleverantör
                a(href="file/green-hosting-diploma.pdf" target="_blank").mb-0.d-inline-flex.align-items-center.gap-2.pdf-certificate.justify-content-center.justify-content-md-start.text-decoration-none
                    |Visa PDF-certifikat
                    svg
                        use(xlink:href="images/sprite.svg#pdf-icon")

        .pt-32.bottom-footer.d-flex.align-items-center.flex-wrap.justify-content-center.justify-content-md-start
            a(href="/").logo.mb-4.mb-md-0: img(src="images/logo-white.svg", alt="logo")

            ul.navbar-nav.d-flex.flex-row.flex-wrap.justify-content-center.justify-content-md-start
                li.nav-item.mb-0
                    a.nav-link(href='#') Cookiepolicy
                li.nav-item.mb-0
                    a.nav-link(href='#') Dataskyddspolicy
                li.nav-item.mb-0
                    a.nav-link(href='#') Persondata policy

            p.mb-0.ms-lg-auto.mt-4.mt-lg-0 © 2024 HemPost. All rights reserved.