doctype html
html(lang='en')
	head
		include partials/head.pug
	body

		include partials/header.pug

		main

			.pt-32.pb-32
				.container
					a(href="index.html").d-inline-flex.gap-3.align-items-center.back-btn.text-decoration-none
						span.btn.btn-primary.p-3
							svg
								use(xlink:href="images/sprite.svg#arrow-left")
						|Back to Home

			.container
				h2 Press-center
				p.fs-18 Company news and press releases

				.row.mt-32
					.col-md-4.mb-3
						.bg-light-gray.h-100.rounded-3.p-3.d-flex.flex-column.gap-32
							.rounded-3.overflow-hidden.cover-post: a(href="blog-article.html"): img(src="images/post-1.jpg", alt="post-image").w-100.h-100.object-fit-cover
							div
								h4.mb-2: a(href="blog-article.html").text-decoration-none.text-dark-blue HemPost: The Hassle-Free, Wallet-Friendly Shipping Revolution
								p Hey there! Let's talk about shipping. You know the drill - you've got something to send, and immediately, Ukrposhta pops into your mind.

					.col-md-4.mb-3
						.bg-light-gray.h-100.rounded-3.p-3.d-flex.flex-column.gap-32
							.rounded-3.overflow-hidden.cover-post: a(href="blog-article.html"): img(src="images/post-2.jpg", alt="post-image").w-100.h-100.object-fit-cover
							div
								h4.mb-2: a(href="blog-article.html").text-decoration-none.text-dark-blue HemPost's Eco-Revolution: Pioneering a Greener Tomorrow in Logistics
								p Let's talk about HemPost, a name that's buzzing in the postal and logistics world. These guys are not just about moving packages ...

					.col-md-4.mb-3
						.bg-light-gray.h-100.rounded-3.p-3.d-flex.flex-column.gap-32
							.rounded-3.overflow-hidden.cover-post: a(href="blog-article.html"): img(src="images/post-3.jpg", alt="post-image").w-100.h-100.object-fit-cover
							div
								h4.mb-2: a(href="blog-article.html").text-decoration-none.text-dark-blue HemPost to Open New Logistics Facility in Dublin, Ireland
								p Europe, a subsidiary of HemPost and the world’s largest express transportation company.

					.col-md-4.mb-3
						.bg-light-gray.h-100.rounded-3.p-3.d-flex.flex-column.gap-32
							.rounded-3.overflow-hidden.cover-post: a(href="blog-article.html"): img(src="images/post-1.jpg", alt="post-image").w-100.h-100.object-fit-cover
							div
								h4.mb-2: a(href="blog-article.html").text-decoration-none.text-dark-blue HemPost: The Hassle-Free, Wallet-Friendly Shipping Revolution
								p Hey there! Let's talk about shipping. You know the drill - you've got something to send, and immediately, Ukrposhta pops into your mind.

					.col-md-4.mb-3
						.bg-light-gray.h-100.rounded-3.p-3.d-flex.flex-column.gap-32
							.rounded-3.overflow-hidden.cover-post: a(href="blog-article.html"): img(src="images/post-2.jpg", alt="post-image").w-100.h-100.object-fit-cover
							div
								h4.mb-2: a(href="blog-article.html").text-decoration-none.text-dark-blue HemPost's Eco-Revolution: Pioneering a Greener Tomorrow in Logistics
								p Let's talk about HemPost, a name that's buzzing in the postal and logistics world. These guys are not just about moving packages ...

					.col-md-4.mb-3
						.bg-light-gray.h-100.rounded-3.p-3.d-flex.flex-column.gap-32
							.rounded-3.overflow-hidden.cover-post: a(href="blog-article.html"): img(src="images/post-3.jpg", alt="post-image").w-100.h-100.object-fit-cover
							div
								h4.mb-2: a(href="blog-article.html").text-decoration-none.text-dark-blue HemPost to Open New Logistics Facility in Dublin, Ireland
								p Europe, a subsidiary of HemPost and the world’s largest express transportation company.

					.col-md-4.mb-3
						.bg-light-gray.h-100.rounded-3.p-3.d-flex.flex-column.gap-32
							.rounded-3.overflow-hidden.cover-post: a(href="blog-article.html"): img(src="images/post-1.jpg", alt="post-image").w-100.h-100.object-fit-cover
							div
								h4.mb-2: a(href="blog-article.html").text-decoration-none.text-dark-blue HemPost: The Hassle-Free, Wallet-Friendly Shipping Revolution
								p Hey there! Let's talk about shipping. You know the drill - you've got something to send, and immediately, Ukrposhta pops into your mind.

					.col-md-4.mb-3
						.bg-light-gray.h-100.rounded-3.p-3.d-flex.flex-column.gap-32
							.rounded-3.overflow-hidden.cover-post: a(href="blog-article.html"): img(src="images/post-2.jpg", alt="post-image").w-100.h-100.object-fit-cover
							div
								h4.mb-2: a(href="blog-article.html").text-decoration-none.text-dark-blue HemPost's Eco-Revolution: Pioneering a Greener Tomorrow in Logistics
								p Let's talk about HemPost, a name that's buzzing in the postal and logistics world. These guys are not just about moving packages ...

					.col-md-4.mb-3
						.bg-light-gray.h-100.rounded-3.p-3.d-flex.flex-column.gap-32
							.rounded-3.overflow-hidden.cover-post: a(href="blog-article.html"): img(src="images/post-3.jpg", alt="post-image").w-100.h-100.object-fit-cover
							div
								h4.mb-2: a(href="blog-article.html").text-decoration-none.text-dark-blue HemPost to Open New Logistics Facility in Dublin, Ireland
								p Europe, a subsidiary of HemPost and the world’s largest express transportation company.

					.col-md-4.mb-3
						.bg-light-gray.h-100.rounded-3.p-3.d-flex.flex-column.gap-32
							.rounded-3.overflow-hidden.cover-post: a(href="blog-article.html"): img(src="images/post-1.jpg", alt="post-image").w-100.h-100.object-fit-cover
							div
								h4.mb-2: a(href="blog-article.html").text-decoration-none.text-dark-blue HemPost: The Hassle-Free, Wallet-Friendly Shipping Revolution
								p Hey there! Let's talk about shipping. You know the drill - you've got something to send, and immediately, Ukrposhta pops into your mind.

					.col-md-4.mb-3
						.bg-light-gray.h-100.rounded-3.p-3.d-flex.flex-column.gap-32
							.rounded-3.overflow-hidden.cover-post: a(href="blog-article.html"): img(src="images/post-2.jpg", alt="post-image").w-100.h-100.object-fit-cover
							div
								h4.mb-2: a(href="blog-article.html").text-decoration-none.text-dark-blue HemPost's Eco-Revolution: Pioneering a Greener Tomorrow in Logistics
								p Let's talk about HemPost, a name that's buzzing in the postal and logistics world. These guys are not just about moving packages ...

					.col-md-4.mb-3
						.bg-light-gray.h-100.rounded-3.p-3.d-flex.flex-column.gap-32
							.rounded-3.overflow-hidden.cover-post: a(href="blog-article.html"): img(src="images/post-3.jpg", alt="post-image").w-100.h-100.object-fit-cover
							div
								h4.mb-2: a(href="blog-article.html").text-decoration-none.text-dark-blue HemPost to Open New Logistics Facility in Dublin, Ireland
								p Europe, a subsidiary of HemPost and the world’s largest express transportation company.

				nav.pb-64.pt-64.pt-sm-32.pb-sm-32
					ul.pagination.gap-3.justify-content-center.m-0
						li
							a.btn.btn-primary.p-3(href="#")
								svg
									use(xlink:href="images/sprite.svg#arrow-left")
						li
							a.btn.btn-secondary.p-3(href='#') 1
						li
							a.btn.btn-primary.p-3(href='#') 2
						li.d-none.d-sm-block
							a.btn.btn-secondary.p-3(href='#') 3
						li
							a.btn.btn-secondary.p-3(href='#') ...
						li.d-none.d-sm-block
							a.btn.btn-secondary.p-3(href='#') 5
						li
							a.btn.btn-primary.p-3(href='#')
								svg
									use(xlink:href="images/sprite.svg#arrow-left")


		include partials/footer.pug

		include partials/scripts.pug