doctype html
html(lang='en')
	head
		include partials/head.pug
	body

		include partials/header.pug

		main

			.pt-32.pb-32
				.container
					a(href="#").d-inline-flex.gap-3.align-items-center.back-btn.text-decoration-none
						span.btn.btn-primary.p-3
							svg
								use(xlink:href="images/sprite.svg#arrow-left")
						|Search Another Shipment

			section
				.container
					.row
						.col-lg-7
							.bg-light-gray.rounded-3.p-64.d-flex.flex-column.gap-32.mb-3
								.d-flex.gap-32.align-items-center.flex-column.flex-sm-row
									.tracking-from.d-flex.gap-32.align-items-center.flex-column.flex-sm-row.text-center.text-sm-start
										svg
											use(xlink:href="images/sprite.svg#express-delivery")
										div
											span Paket
											b 9990000000055696967

									.tracking-to.d-flex.gap-32.align-items-center.flex-column.flex-sm-row.text-center.text-sm-start
										svg
											use(xlink:href="images/sprite.svg#Map")
										div
											span Från
											b 21 Grams AB

								.tracking-way
									ul.tracking-line.d-flex.justify-content-between.m-0
										li.mb-0.active: span
										li.mb-0: span
										li.mb-0: span
										li.mb-0: span

									ul.d-flex.justify-content-between.m-0.p-0
										li.mb-0 Bokad
										li.mb-0 Under Transport
										li.mb-0 Ute för leverans
										li.mb-0 Levererad

							.bg-light-gray.rounded-3.p-64.d-flex.flex-column.gap-32.mb-3
								h3 Leveransbevis

								.overflow-hidden: img(src="images/delivery.jpg", alt="image").rounded-3

							.bg-light-gray.rounded-3.p-64.d-flex.flex-column.gap-32.mb-3
								h3 Leveransrutt

								.delivery-route.m-0
									div.position-relative
										.icon.rounded-circle.position-absolute.top-0.align-items-center.d-flex.justify-content-center
											svg
												use(xlink:href="images/sprite.svg#arrow-small")
										
										p.fs-18.mb-1 <b>Åsundaren</b> <small>SE</small>
										p.text-gray.mb-0 21 Nov 09:32
										p.mb-0 Paketet har ännu inte lämnats över till Early Bird.

									div.position-relative
										.icon.rounded-circle.position-absolute.top-0.align-items-center.d-flex.justify-content-center
											svg
												use(xlink:href="images/sprite.svg#box")
										p.text-gray.mb-0 14 Aug 20:25
										p.mb-0 Paketet har ankommit till terminal

									div.position-relative
										.icon.rounded-circle.position-absolute.top-0.align-items-center.d-flex.justify-content-center
											svg
												use(xlink:href="images/sprite.svg#delivery")
										p.fs-18.mb-1 <b>Avsandaren</b> <small>SE</small>
										p.text-gray.mb-0 14 Aug 20:25
										p.mb-0 Paketet har ankommit till terminal

									div.position-relative
										.icon.rounded-circle.position-absolute.top-0.align-items-center.d-flex.justify-content-center
											svg
												use(xlink:href="images/sprite.svg#terminal")
										p.text-gray.mb-0 14 Aug 20:25
										p.mb-0 Paketet har ankommit till terminal

						.col-lg-5
							.bg-light-gray.rounded-3.p-64.d-flex.flex-column.gap-64
								div
									h3 Info Mottagen
									p Paketet har ännu inte överlämnats till Early Bird.

								div
									h3.mb-3 Leveransinformation

									p.mb-0 Mottagaradress
									p.text-dark-blue.fs-18 86831 Sunne, Sverige

								div
									h3.mb-3 Paketinformation
									ul.d-flex.m-0.p-0.gap-32.flex-wrap
										li
											p.mb-0 Vikt
											p.fs-18.mb-0.text-dark-blue 200 g

										li
											p.mb-0 Höjd
											p.fs-18.mb-0.text-dark-blue 10 cm

										li
											p.mb-0 Längd
											p.fs-18.mb-0.text-dark-blue 10 cm

										li
											p.mb-0 Bredd
											p.fs-18.mb-0.text-dark-blue 10 cm

										li
											p.mb-0 Från
											p.fs-18.mb-0.text-dark-blue 21 Grams AB

										li
											p.mb-0 Till
											p.fs-18.mb-0.text-dark-blue Earlybird

										li
											p.mb-0 Fraktsedels-ID
											p.fs-18.mb-0.text-dark-blue 9990000000055696967

										li
											p.mb-0 Servicetyp
											p.fs-18.mb-0.text-dark-blue Prioritet

										li
											p.mb-0 Tilläggstjänster
											p.fs-18.mb-0.text-dark-blue Lämna vid dörren

						.col-12
							.bg-light-gray.rounded-3.px-5.pt-80.pb-80.mb-5.d-flex.flex-column.gap-64.mt-3.align-items-center.text-center
								img(src="images/comunication.svg", alt="image" , width="235")
								h2.with-bg-title
									span Vi använder inte no-reply-kommunikation <br> 
									|som traditionella transportörer gör.
								a(href="#").btn.btn-success.btn-lg E-posta oss

		include partials/footer.pug

		include partials/scripts.pug