doctype html
html(lang='en')
	head
		include partials/head.pug
	body

		include partials/header.pug

		main

			.pt-32.pb-32
				.container
					a(href="#").d-inline-flex.gap-3.align-items-center.back-btn.text-decoration-none
						span.btn.btn-primary.p-3
							svg
								use(xlink:href="images/sprite.svg#arrow-left")
						|Search Another Shipment

			section
				.container
					.row
						.col-lg-7
							.bg-light-gray.rounded-3.p-64.d-flex.flex-column.gap-32.mb-3
								.d-flex.gap-32.align-items-center.flex-column.flex-sm-row
									.tracking-from.d-flex.gap-32.align-items-center.flex-column.flex-sm-row.text-center.text-sm-start
										svg
											use(xlink:href="images/sprite.svg#express-delivery")
										div
											span Parcel
											b 9990000000055696967

									.tracking-to.d-flex.gap-32.align-items-center.flex-column.flex-sm-row.text-center.text-sm-start
										svg
											use(xlink:href="images/sprite.svg#Map")
										div
											span From
											b 21 Grams AB

								.tracking-way
									ul.tracking-line.d-flex.justify-content-between.m-0
										li.mb-0.active: span
										li.mb-0: span
										li.mb-0: span
										li.mb-0: span

									ul.d-flex.justify-content-between.m-0.p-0
										li.mb-0 Booked
										li.mb-0 In Transit
										li.mb-0 Out for delivery
										li.mb-0 Delivered

							.bg-light-gray.rounded-3.p-64.d-flex.flex-column.gap-32.mb-3
								h3 Proof Of Delivery

								.overflow-hidden: img(src="images/delivery.jpg", alt="image").rounded-3

							.bg-light-gray.rounded-3.p-64.d-flex.flex-column.gap-32.mb-3
								h3 Delivery Route

								.delivery-route.m-0
									div.position-relative
										.icon.rounded-circle.position-absolute.top-0.align-items-center.d-flex.justify-content-center
											svg
												use(xlink:href="images/sprite.svg#arrow-small")
										
										p.fs-18.mb-1 <b>Avsandaren</b> <small>SE</small>
										p.text-gray.mb-0 21 Nov 09:32
										p.mb-0 Paketet har ännu inte lämnats över till Early Bird.

									div.position-relative
										.icon.rounded-circle.position-absolute.top-0.align-items-center.d-flex.justify-content-center
											svg
												use(xlink:href="images/sprite.svg#box")
										p.fs-18.mb-1 <b>Avsandaren</b> <small>SE</small>
										p.text-gray.mb-0 14 Aug 20:25
										p.mb-0 Paketet har ännu inte lämnats över till Early Bird.

									div.position-relative
										.icon.rounded-circle.position-absolute.top-0.align-items-center.d-flex.justify-content-center
											svg
												use(xlink:href="images/sprite.svg#delivery")
										p.fs-18.mb-1 <b>Avsandaren</b> <small>SE</small>
										p.text-gray.mb-0 14 Aug 20:25
										p.mb-0 Paketet har ankommit till terminal

									div.position-relative
										.icon.rounded-circle.position-absolute.top-0.align-items-center.d-flex.justify-content-center
											svg
												use(xlink:href="images/sprite.svg#terminal")
										p.text-gray.mb-0 14 Aug 20:25
										p.mb-0 Paketet har ankommit till terminal

						.col-lg-5
							.bg-light-gray.rounded-3.p-64.d-flex.flex-column.gap-64
								div
									h3 Info Received
									p Paketet har ännu inte lämnats över till Early Bird.

								div
									h3.mb-3 Delivery Information

									p.mb-0 Receiver address
									p.text-dark-blue.fs-18 68631 Sunne, Sweden

								div
									h3.mb-3 Parcel Information
									ul.d-flex.m-0.p-0.gap-32.flex-wrap
										li
											p.mb-0 Weight
											p.fs-18.mb-0.text-dark-blue 200 g

										li
											p.mb-0 Height
											p.fs-18.mb-0.text-dark-blue 10 cm

										li
											p.mb-0 Length
											p.fs-18.mb-0.text-dark-blue 10 cm

										li
											p.mb-0 Width
											p.fs-18.mb-0.text-dark-blue 10 cm

										li
											p.mb-0 From
											p.fs-18.mb-0.text-dark-blue 21 Grams AB

										li
											p.mb-0 To
											p.fs-18.mb-0.text-dark-blue Earlybird

										li
											p.mb-0 Shipment ID
											p.fs-18.mb-0.text-dark-blue 9990000000055696967

										li
											p.mb-0 Service type
											p.fs-18.mb-0.text-dark-blue Priority

										li
											p.mb-0 Additional services
											p.fs-18.mb-0.text-dark-blue Leave at the door

						.col-12
							.bg-light-gray.rounded-3.px-5.pt-80.pb-80.mb-5.d-flex.flex-column.gap-64.mt-3.align-items-center.text-center
								img(src="images/comunication.svg", alt="image" , width="235")
								h2.with-bg-title
									span We don’t use no-reply <br> 
									|communication like traditional carriers do.
								a(href="#").btn.btn-success.btn-lg Email Us 

		include partials/footer.pug

		include partials/scripts.pug