// Variable

// Color
$white: #fff;
$dark-blue: #001F55;
$gray: #949DA6;
$gray-stroke: #ECEFF2;
$light-gray: #F8F8F8;
$yellow: #FEC220;
$blue-stroke: #0D2A5E;
$green: #4CBB00;

// Font variable
$font-Open-Sans: 'Open Sans';
$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;

// Responsive points
$laptop: 1400px;
$tablet: 992px;
$mobile: 768px;
$small: 576px;
$extra-small: 480px;
